.cards-container{
    padding: 10px 50px;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 50px 50px;
    grid-template-columns: repeat(3, auto);
}

.cards-container:hover > :not(:hover){
    opacity: .3;
}

.card {
    width: 390px;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 0 12px 20px rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.349);
    overflow: hidden;
    transition: 300ms ease-in-out;

    & img{
        margin: 0;
        width: 100%;
        height: auto;
    }

    & p{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }

    & h3{
        margin: 5px;
        font-size: 20px;
        color: yellow;
    }
}

.card:hover{
    transform: scale(1.1);
    border: 2px solid #ffffff;
    cursor: pointer;
}