.section-products {
    text-align: center;

    & h2{
        margin-top: 20px;
        text-align: center;
        color: yellow;
        font-family: "Pacifico", cursive;
        font-size: 50px;
        font-weight: 600;
    }

    & p{
        margin: 0 auto;
        padding: 30px;
        width: 900px;
        line-height: 1.9;
        font-size: 16px;
        color: #dddddd;
        font-weight: 600;
    }
}